<h2>Outbound documents</h2>

<table>
  <colgroup>
    <col style="width:  50px;">
    <col style="width: 120px;">
    <col style="width: 200px;">
    <col style="width: 120px;">
    <col style="width: 120px;">
  </colgroup>
  <thead>
    <tr>
      <th>Id</th>
      <th>Identifier</th>
      <th>Customer</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>
        <a href="#" class="icon" title="add" (click)="add($event)">✚</a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let outboundDocument of outboundDocuments">
      <td style="text-align: right;">{{ outboundDocument.id }}</td>
      <td>{{ outboundDocument.identifier }}</td>
      <td>{{ outboundDocument.customer.name }}</td>
      <td style="text-align: center;">{{ outboundDocument.createdAt | date : 'dd/MM/yyyy' }}</td>
      <td style="text-align: center;">{{ outboundDocument.updatedAt | date : 'dd/MM/yyyy' }}</td>
      <td style="text-align: center;">
        <a href="#" class="icon" title="edit" (click)="edit($event, outboundDocument)">🖉</a>
        <a href="#" class="icon" title="delete" (click)="delete($event, outboundDocument)">🗑</a>
      </td>
    </tr>
  </tbody>
</table>

<app-modal #modalForm [title]="modalTitle" [primaryAction]="confirmAction" [secondaryAction]="cancelFormAction">
  <form [formGroup]="outboundDocumentForm" #formDir="ngForm">

    <div class="form-group">
      <span>{{ identifier.value }}</span>

      <!-- label for="name">Name</label>
      <input id="name" class="form-control" formControlName="name" required>

      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="form-control-error">

        <div *ngIf="name.errors.required">
          Name is required.
        </div>
        <div *ngIf="name.errors.minlength">
          Name must be at least 4 characters long.
        </div>
      </div -->
    </div>

    <span class="pr-sm">Items:</span>
    <a href="#" class="icon pl-sm" title="add" (click)="addItem($event)">✚</a>
    <hr style="width: 100%; margin-top: 0;">
    <div formArrayName="items">
      <div *ngFor="let item of items.controls; let i=index">
        <div [formGroupName]="i" class="form-group">
          <div class="inline pr-sm" style="width: 50%;">
            <label for="productId">Product</label>
            <input id="productId" class="form-control" formControlName="productId" required>
          </div>
          <div class="inline pr-sm" style="width: 40%;">
            <label for="quantity">Quantity</label>
            <input type="number"  id="quantity"  class="form-control" formControlName="quantity" required>
          </div>
          <div class="inline pl-sm" style="width: 10%;">
            <a href="#" class="icon" title="delete" (click)="removeItem($event, i)">🗑</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</app-modal>

<app-modal #modalQuestion [title]="'Delete outboundDocument'" [primaryAction]="deleteAction"
  [secondaryAction]="cancelQuestionAction">
  <span>Confirm outboundDocument deletion?</span>
</app-modal>

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
