<h2>Outbound loads</h2>

<table>
  <colgroup>
    <col style="width:  34px;">
    <col style="width:  50px;">
    <col style="width: 120px;">
    <col style="width: 120px;">
    <col style="width: 120px;">
  </colgroup>
  <thead>
    <tr>
      <th>🗊</th>
      <th>Id</th>
      <th>Identifier</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>
        <a class="icon" title="add" (click)="add()">✚</a>
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let outboundLoad of outboundLoads">
      <tr>
        <td style="text-align: center;">
          <a *ngIf="!outboundLoad['showDocuments']" class="icon" title="show documents"
            (click)="showDocuments(outboundLoad)">⤷</a>
          <div style="transform: rotate(90deg); display: table-cell;">
            <a *ngIf="outboundLoad['showDocuments']" class="icon" title="hide documents"
              (click)="hideDocuments(outboundLoad)">⤶</a>
          </div>
        </td>
        <td style="text-align: right;">{{ outboundLoad.id }}</td>
        <td>{{ outboundLoad.identifier }}</td>
        <td style="text-align: center;">{{ outboundLoad.createdAt | date : 'dd/MM/yyyy' }}</td>
        <td style="text-align: center;">{{ outboundLoad.updatedAt | date : 'dd/MM/yyyy' }}</td>
        <td style="text-align: center;">
          <a class="icon" title="delete" (click)="delete(outboundLoad)">🗑</a>
        </td>
      </tr>
      <tr *ngIf="outboundLoad['showDocuments']">
        <td colspan="6">
          <table style="width: 100%;">
            <colgroup>
              <col style="width:  50px;">
              <col style="width: 140px;">
              <col>
              <col style="width:  34px;">
            </colgroup>
            <thead>
              <tr>
                <th>Id</th>
                <th>Identifier</th>
                <th>Customer</th>
                <th>
                  <a class="icon" title="add" (click)="addDocument('grid', outboundLoad)">✚</a>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let outboundDocument of outboundLoad.documents">
                <td style="text-align: right;">{{ outboundDocument.id }}</td>
                <td>{{ outboundDocument.identifier }}</td>
                <td>{{ outboundDocument.customer.name }}</td>
                <td style="text-align: center;">
                  <a class="icon" title="delete" (click)="deleteDocument(outboundLoad, outboundDocument)">🗑</a>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>

<app-modal #modalForm [title]="modalTitle" [primaryAction]="confirmFormAction" [secondaryAction]="cancelFormAction">
  <form [formGroup]="outboundLoadForm" #formDir="ngForm">

    <div class="form-group">
      <div class="label">Identifier</div>
      <div>{{ identifier.value }}</div>
    </div>

    <span>Documents</span>
    <hr style="width: 100%; margin-top: 0;">
    <div formArrayName="documents">
      <table style="width: 100%;">
        <colgroup>
          <col style="width:  50px;">
          <col style="width: 140px;">
          <col>
          <col style="width:  34px;">
        </colgroup>
        <thead>
          <tr>
            <th>Id</th>
            <th>Identifier</th>
            <th>Customer</th>
            <th>
              <a class="icon" title="add" (click)="addDocument('form')">✚</a>
            </th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let formGroup of documents.controls; let i=index;">
            <ng-container [formGroupName]="i">
              <td style="text-align: right;">{{ document(i).value.id }}</td>
              <td>{{ document(i).value.identifier }}</td>
              <td>{{ document(i).value.customer.name }}</td>
              <td style="text-align: center;">
                <a class="icon" title="delete" (click)="removeDocument(i)">🗑</a>
              </td>
            </ng-container>
          </tr>

        </tbody>
      </table>
      <div *ngIf="documents.controls.length === 0 && documents.invalid && (documents.dirty || documents.touched)"
        class="form-control-error">

        <div *ngIf="documents.errors.required">
          At least one document is required.
        </div>
      </div>
    </div>
  </form>
</app-modal>

<app-modal #modalQuestion [title]="'Delete outbound load'" [primaryAction]="deleteAction"
  [secondaryAction]="cancelQuestionAction">
  <span>Confirm outbound load deletion?</span>
</app-modal>

<app-modal #modalDocs [title]="'Unloaded documents'" [primaryAction]="confirmDocsAction" [secondaryAction]="cancelDocsAction">
  <table style="width: 100%;">
    <colgroup>
      <col style="width:  34px;">
      <col style="width:  50px;">
      <col style="width: 140px;">
    </colgroup>
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Id</th>
        <th>Identifier</th>
        <th>Customer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let outboundDocument of outboundUnloadedDocuments">
        <td style="text-align: center;">
          <a class="icon" title="select document" (click)="outboundDocument['selected'] = !outboundDocument['selected']">
            {{ outboundDocument['selected'] ? '☒' : '☐' }}
          </a>
        </td>
        <td style="text-align: right;">{{ outboundDocument.id }}</td>
        <td>{{ outboundDocument.identifier }}</td>
        <td>{{ outboundDocument.customer.name }}</td>
      </tr>
    </tbody>
  </table>
</app-modal>

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
