/* Global Styles */

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

router-outlet + *  {
  padding: 0 16px;
}

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
  line-height: 100%;
}

a:hover {
  opacity: 0.8;
}

button, input, optgroup, select, textarea {
  margin: 0;
}

form {
  width: 100%;
}

label, .label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.form-group {
  margin-bottom: 8px;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control-error {
  display: block;
  width: 100%;
  font-size: small;
  line-height: 1;
}

.form-control-error * {
  color: #a94442;
}

/* Button */
.button, button {
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #1976d2;
  color: white;
  border: none;
  min-width: 100px;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.leak-button, button .leak-button {
  background-color: white;
  color: #1976d2;
  border: 1px solid #1976d2;
}

/* Top Bar */

.app-top-bar {
  width: 100%;
  height: 68px;
  background-color: #1976d2;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.app-top-bar h1 {
  color: white;
  margin: 0;
}

.app-link-bar {
  width: 100%;
  padding: 16px 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid darkgray;
}

th, td {
  line-height: 1em;
  padding: 5px 8px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 990;
}

.modal .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 995;
  background: rgba(0,0,0,0.85);
}

.modal .modal-body {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  overflow: auto;
  background: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,0.7);
  border-radius: 4px;
  width: 520px; /* This just a default width */
}

.modal .modal-header {
  padding: 8px 16px;
}

.modal .modal-header > .modal-title {
  font-size: 28px;
  font-weight: 200;
}

.modal .modal-header > .close-modal {
  position: absolute;
  right: 10px;
  top: 6px;
  cursor: pointer;
  font-size: 18px;
  opacity: 0.5;
  background: none;
  border: none;
  transition: opacity 0.2s ease;
}

.modal .modal-header > .close-modal:hover {
  opacity: 0.9;
}

.modal .modal-content {
  padding: 8px 16px;
  display: flex;
  justify-content: flex-start;
}

.modal .modal-actions {
  padding: 8px 16px 16px;
  display: flex;
  justify-content: flex-end;
}

.modal .modal-actions > button {
  margin-left: 8px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

input.ng-invalid, optgroup.ng-invalid, select.ng-invalid, textarea.ng-invalid   {
  border-left: 5px solid #a94442; /* red */
}

.inline {
  display: inline-block;
  vertical-align: top;
}

.pl-sm {
  padding-left: 8px;
}

.pr-sm {
  padding-left: 8px;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
